@import 'variables';
@import 'mq';

* {
	box-sizing: border-box;
}
html {
	height: 100%;
	width: 100%;
}

body {
	color: $dark-grey;
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
}

img {
	max-width: 100%;
}

// Box Sizing & Padding Framework
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.element {
	padding: $gutter;
}

// xs, sm, md, lg, xl Box Sizing
// xs (base size)
@for $i from 1 through 12 {
	.box-xs-#{$i} {
		width: (100% / 12) * $i;
	}
}

// sm (mobile)
@include mq($from: mobile) {
	@for $i from 1 through 12 {
		.box-sm-#{$i} {
			width: (100% / 12) * $i;
		}
	}
}

// md (tablet)
@include mq($from: tablet) {
	@for $i from 1 through 12 {
		.box-md-#{$i} {
			width: (100% / 12) * $i;
		}
	}
}

// lg (laptop)
@include mq($from: desktop) {
	@for $i from 1 through 12 {
		.box-lg-#{$i} {
			width: (100% / 12) * $i;
		}
	}
}

// xl (desktop)
@include mq($from: wide) {
	@for $i from 1 through 12 {
		.box-xl-#{$i} {
			width: (100% / 12) * $i;
		}
	}
}