footer {
	background-color: $light-grey;
	text-align: center;

	.social {
		font-size: px2rem(f(h1));
		@include mq(mobile) {
			font-size: px2rem(f(h1,mobile));
		}
		a {
			color: $dark-grey;
			transition: 0.5s;

			&:hover {
				color: $secondary;
			}
		}

	}

	@include mq(mobile) {

		.social {
			text-align: left;
		}

		.license {
			text-align: right;
		}
	}
}