.logo img {
    max-width: px2rem(200px);
    width: 100%;
    @include mq(mobile) {
        max-width: px2rem(250px);
    }
    @include mq(tablet) {
        max-width: px2rem(300px);
    }
}

.intro {
    text-align: right;

    h1 {
        font-weight: 300;
        text-transform: uppercase;
    }

    .title {
        margin-top: px2rem(5px);

        h3,
        span {
            display: inline;
            font-size: px2rem(f(h5));
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

hr {
    border: 2px solid $primary;
    margin: 0 0 px2rem($gutter * 2);
}

.banner {
    max-height: 450px;
    overflow: hidden;

    img {
        margin: 0 auto;
        width: 100%;
    }
}