# Logs
logs
*.log
npm-debug.log*
Thumbs.db

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Cache of sass files
.sass-cache

# Would normally add css & generated images directories here, but tracking those to allow GitHub Pages from this repo